@page
@model V2Layground.WebClient.Pages.WeatherforecastModel
@{
}


@if(Model.Forecast is {Length:>0})
{
    <ul>

    @foreach (var item in Model.Forecast)
    {
        <li>
            @item.ToString();
        </li>
    }
    </ul>
}